<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <test verbose="2" preserve-order="true"
          name="C:/Users/tonya/IdeaProjects/opencart_updated/src/test/java/testCases/TC_001_AccountRegistrationTest.java">
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <class name="testCases.TC_001_AccountRegistrationTest">
                <methods>
                    <include name="test_Account_Registration"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>